
{% load static %}
<html> 

	<head>
		<title>Tutorial_app</title>
	</head>
	
	<body>
		<h1>Tutorials718</h1>
		Here is knowledge <br />
		{{% if categories %}}
			<ul>
				{% for category in categories %}

				<li><a href="/category/{{ category.slug }}">{{ category.name }}</a></li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}


		{% if pages %}
			<hl>Top 5 Pages</h1>
			{% for page in pages %}
			<a href="{{page.url}}">{{ page.title }}</a> 
			{% endfor %}
		{% endif %}
		
		<a href="/about/">About</a><br />
		<img src="{% static 'images/11371718233_6b7b937124_b.jpg' %}" alt="Picture of UF0907" />

	</body>

</html> 
